---
modules:
  http_api_2xx:
    prober: http
    timeout: 55s
    http:
      valid_http_versions:
        - HTTP/1.1
        - HTTP/2.0
      method: GET
      valid_status_codes:
        - 200
      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: true
      tls_config:
        insecure_skip_verify: false
      preferred_ip_protocol: "ip4"
      ip_protocol_fallback: false

  http_page_2xx:
    prober: http
    timeout: 55s
    http:
      valid_http_versions:
        - HTTP/1.1
        - HTTP/2.0
      method: GET
      valid_status_codes:
        - 200
      follow_redirects: true
      fail_if_ssl: false
      fail_if_not_ssl: true
      tls_config:
        insecure_skip_verify: false
      preferred_ip_protocol: "ip4"
      ip_protocol_fallback: false
