server {
       server_name {{ setup_server_fqdn }};

       location public/img/fav32.png {
       		alias /srv/www/{{ setup_server_fqdn }}/img/fav32.png;
       }

       location /api/live {
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "Upgrade";
		proxy_set_header Host $http_host;
		proxy_pass http://localhost:3000;
       }

       location / {
       		proxy_pass http://localhost:3000;
		proxy_set_header Host $host;
       }
}
